body {
  margin:0;
  font-family: Arial;
  background:#0f172a;
  color:white;
}

.sidebar {
  width:220px;
  height:100vh;
  background:#1e293b;
  position:fixed;
  padding:20px;
}

.sidebar a {
  display:block;
  padding:10px;
  color:#cbd5e1;
  text-decoration:none;
  border-radius:8px;
}

.sidebar a.active,
.sidebar a:hover {
  background:#6c5ce7;
  color:white;
}

.main {
  margin-left:240px;
  padding:20px;
}

.cards {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
}

.card {
  background:#1e293b;
  padding:20px;
  border-radius:10px;
}

.chart-box {
  background:#1e293b;
  height:200px;
  margin-top:20px;
  border-radius:10px;
  padding:10px;
}

button {
  background:#6c5ce7;
  color:white;
  border:none;
  padding:8px 12px;
  border-radius:6px;
  cursor:pointer;
}

table {
  width:100%;
  margin-top:20px;
  border-collapse:collapse;
}

th {
  background:#6c5ce7;
  padding:10px;
}

td {
  padding:10px;
  border-bottom:1px solid #333;
/* Center container */
.login-box {
  width: 100%;
  max-width: 380px;
  margin: auto;
  text-align: center;
}

/* Input fields */
.login-box input {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}

/* Button */
.login-box button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #4f46e5, #7c3aed);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.login-box button:hover {
  opacity: 0.9;
}
